.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-app);
  font-family: var(--font-family);
  color: var(--text-primary);
  overflow: hidden;
}

.body {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
}
